html {
	height:100%;
}
.btn-danger { 
margin-top:20px;
width:90%;
}
#boxpesan, .boxonline { 
overflow-y:auto; 
overflow-y:scroll; 
height:450px; 
width:100%;
border:8px solid #404040; 
background-color:white;
border-radius:10px;
}
input[type="text"]{
	width:80%;
}
input[type="submit"]{
	width:15%;
}
img{
height:30px;
width:30px;
cursor:pointer;
}
p{
line-height:25px;
font-size:15px;
}
.popover{
width:180px;
}
h1{
text-shadow: 2px 2px #333300;
}
